<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Song</title>

    <link href="/css/song.css?1" rel="stylesheet">

</head>
<body>
<div class="all">
    <h1>Song</h1>
    <form class="all_input" action="add-save.do" method="post">
        <div>
            <label>Title</label>
            <input type="text" name="title">
        </div>
        <div>
            <label>Singer</label>
            <input type="text" name="singer">
        </div>
        <div>
            <label>Composer</label>
            <input type="text" name="composer">
        </div>
        <div>
            <label>Year</label>
            <input type="text" name="year">
        </div>
        <div>
            <button>SAVE</button>
        </div>
    </form>
</div>
</body>
</html>